.contents {
  padding: 12px;
  display: inline-block;
}

.editor-blog {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  min-height: 50px;
  display: inline-block;
  width: 100%;
}
